@font-face {
    font-family: UKIJ Ekran;
    src: url('../fonts/UKIJEkran.ttf');
}
@font-face {
    font-family: UKIJ Tuz;
    src: url('../fonts/UKIJTuz.ttf');
}
@font-face {
    font-family: UKIJ Tor;
    src: url('../fonts/UKIJTor.ttf');
}
@font-face {
    font-family: UKIJ Basma;
    src: url('../fonts/UKIJBasma.ttf');
}
@font-face {
    font-family: UKIJ Zilwa;
    src: url('../fonts/UKIJZilwa.ttf');
}
@font-face {
    font-family: UKIJ Tuz Basma;
    src: url('../fonts/UKIJTuzB.ttf');
}
@font-face {
    font-family: UKIJ Tuz Basma;
    src: url('../fonts/UKIJTuzB.ttf');
}
@font-face {
    font-family: UKIJ Tuz Kitab;
    src: url('../fonts/UKIJTuzK.ttf');
}
@font-face {
    font-family: UKIJ Tuz Qara;
    src: url('../fonts/UKIJTuzQ.ttf');
}
@font-face {
    font-family: UKIJ Tuz Tor;
    src: url('../fonts/UKIJTzTr.ttf');
}
@font-face {
    font-family: UKIJ Tuz Journal;
    src: url('../fonts/UKIJTuzG.ttf');
}

body {
    width: 220px;
    height: 100%;
    min-height: 300px;
    text-align: right;
    font-size: 14px;
    font-family: "UKIJ Tuz";
}
label {
    margin-left: 20px;
    margin-right: 10px;
}
select {
    direction: rtl;
}
strong {
    font-size: 16px;
}
input[type="color"] {
    -webkit-appearance: none;
    /*border: none;*/
    border-radius: 3px;
    width: 40px;
    height: 25px;
    padding: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}
.rtl {
    direction: rtl;
}
.btn {
    width: 100%;
    text-align: right;
}
.dropdown-menu {
    width: 100%;
}
.title {
    font-size: 24px;
    background-color: #008CBA;
    color: white;
    padding: 10px;
}
.popup {
    margin: 10px 20px;
}
.save {
    margin: 10px 20px;
    min-height: 100px;
}
.list {
    margin: 10px 20px;
    min-height: 100px;
}
.btn-sm {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-bottom: 5px;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 10px;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 25px;
    background: #008CBA;
    cursor: pointer;
}